body{
  padding: 0;
  margin: 0;
}
nav li{
  list-style-type: none;
  background-color: cyan;
  display: flex;
  flex-direction: column;
}
nav li a{
text-decoration: none;
color: red;
}
#searchButton{
  background-color: aqua;
}
form{
  border-style: inset;
  border-color: pink;
  background-color: chocolate;
}
form button{
  border-radius: none;
  background-color:  #ad33ff;
}
form  button:hover{
  background-color: #0000b3;
}
#test{
  border: solid, 1px;
}
.btn{
  background-color: red;
}
#result{
  color: red;
}